<tr class="vertical-middle">

	<td>
		{# Пользовательское меню #}
		{{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}
	</td>



	<td class="ps-5">
		{{ account_status(item.account_status) }}
	</td>

	<td class="ps-5">
		{{ item.account_email }}
	</td>

	<td class="ps-5 text-nowrap">
		{{ item.date_update|date('d.m.Y H:i') }}
	</td>

	<td class="ps-5">


				{# Название #}

				<a href="{{ path('UserGroup:admin.newedit.edit', { id: item.event }) }}"
				   class="fw-bolder mb-1 text-decoration-none text-muted"
				>
					{{ item.group_name }}
				</a>

				{# Описание #}
				<div class="text-muted small">
					{{ string_width(item.group_desc, 150)|raw }}
				</div>


	</td>



		<td class="ps-5">
			{% if is_granted('ROLE_ADMIN') and app.user.id != item.account_id %}
			{# Прейти в режим пользователя #}
			<a href='{{ path('Pages:user.homepage', {'_switch_user' : item.account_id }) }}' class="badge bg-primary text-decoration-none">Авторизоваться</a>
			{% endif %}
		</td>


</tr>