{% trans_default_domain 'groups.users' %}

{% if  is_granted('ROLE_CHECK_USERS') %}

	<div class="col-6 pb-3">
		<div class="bg-light bg-opacity-50 rounded-3 p-10">

			<a href="{{ path('GroupCheckUser:admin.index') }}">
				<h1 class="h2 mb-5">{{ 'admin.page.title'|trans }}</h1>
			</a>
			<div class="fs-4 text-gray-600 py-3 h-100px">
				Пользователи, которые назначены в группу, и имеют права доступа в соответствии с указанной группой
			</div>

			<div class="d-flex justify-content-between">

				<a href="{{ path('GroupCheckUser:admin.index') }}"
				   class="btn btn-lg btn-flex btn-link btn-color-info">
					Список пользователей
					<span class="svg-icon ms-2 svg-icon-3">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
							<rect opacity="0.5" x="18" y="13" width="13" height="2" rx="1"
								  transform="rotate(-180 18 13)" fill="black"></rect>
							<path d="M15.4343 12.5657L11.25 16.75C10.8358 17.1642 10.8358 17.8358 11.25 18.25C11.6642 18.6642 12.3358 18.6642 12.75 18.25L18.2929 12.7071C18.6834 12.3166 18.6834 11.6834 18.2929 11.2929L12.75 5.75C12.3358 5.33579 11.6642 5.33579 11.25 5.75C10.8358 6.16421 10.8358 6.83579 11.25 7.25L15.4343 11.4343C15.7467 11.7467 15.7467 12.2533 15.4343 12.5657Z"
								  fill="black"></path>
						</svg>
					</span>
				</a>

				<div>

					{% if  is_granted('ROLE_CHECK_USERS_NEW') %}
						<a href="{{ path('GroupCheckUser:admin.new') }}" class="btn btn-primary ">
							{{ 'btn.new'|trans({}, 'messages') }}
						</a>
					{% endif %}

					<div class="btn-group ms-3">

						{% if  is_granted('ROLE_CHECK_USERS_RECYCLEBIN') %}
							<a href="{# {{ path('User:admin.user.account.recyclebin.index') }} #}"
							   class="btn btn-light">
								{# Корзина #}
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									 class="bi bi-trash3"
									 viewBox="0 0 16 16">
									<path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
								</svg>
							</a>
						{% endif %}


						{% if  is_granted('ROLE_CHECK_USERS_SETTINGS') %}
							<a href="#" class="btn btn-light modal-link"
							   data-bs-toggle="modal" data-bs-target="#modal">
								<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
									 class="bi bi-sliders"
									 viewBox="0 0 16 16">
									<path fill-rule="evenodd"
										  d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z" />
								</svg>
							</a>
						{% endif %}

					</div>
				</div>
			</div>
		</div>
	</div>
{% endif %}

